RewriteEngine On

# Set the base URL path (change according to your directory structure)

# Live Route
# RewriteBase /clients_survey_form_db/

# Local Route
RewriteBase /htdocs/dynabase/clients_survey_form_db/

# Preserve Authorization header for PHP
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

# Redirect all requests to index.php except for existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]


# Custom 404 error handling if required Live Route
# ErrorDocument 404 /clients_survey_form_db/index.php

# Custom 404 error handling if required Local Route
ErrorDocument 404 /htdocs/dynabase/clients_survey_form_db/index.php
